# Question 1  
   Top grossing movies and what was the movie budget and profit

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# zippedData/imdb.title.basics.csv.gz
# zippedData/bom.movie_gross.csv.gz

In [3]:
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [4]:
title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [5]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [6]:
title_basics.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [7]:
title_basics.isna().sum() / len(title_basics)

tconst             0.000000
primary_title      0.000000
original_title     0.000144
start_year         0.000000
runtime_minutes    0.217176
genres             0.037005
dtype: float64

Droping runtime minutes and original title.  I don't think there will be a use for them

In [8]:
title_basics.drop(columns = ['runtime_minutes', 'original_title'], inplace = True)

In [9]:
title_basics.head()

,tconst,primary_title,start_year,genres
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"

In [10]:
title_basics.isna().sum()

tconst              0
primary_title       0
start_year          0
genres           5408
dtype: int64

In [11]:
title_basics.isna().sum() / len(title_basics)

tconst           0.000000
primary_title    0.000000
start_year       0.000000
genres           0.037005
dtype: float64

dropping all NA valus

In [12]:
title_basics.dropna(inplace = True)

In [13]:
title_basics.isna().sum()

tconst           0
primary_title    0
start_year       0
genres           0
dtype: int64

In [14]:
title_basics.head()

,tconst,primary_title,start_year,genres
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"

making a genres split colunm so when i split the genres column making the values separate

In [16]:
title_basics['genres_split'] = title_basics['genres'].map(lambda x: x.split(",") if x else x)

In [17]:
title_basics.head()

,tconst,primary_title,start_year,genres,genres_split
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama","[Action, Crime, Drama]"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama","[Biography, Drama]"
2,tt0069049,The Other Side of the Wind,2018,Drama,[Drama]
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama","[Comedy, Drama]"
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"

In [20]:
type(title_basics['genres_split'][0])

list

storing the first genre from the genre split column in a new genre1 column

In [21]:
title_basics['genre1'] = title_basics['genres_split'].map(lambda x: x[0])

In [22]:
title_basics.head()

,tconst,primary_title,start_year,genres,genres_split,genre1
0,tt0063540,Sunghursh,2013,"Action,Crime,Drama","[Action, Crime, Drama]",Action
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama","[Biography, Drama]",Biography
2,tt0069049,The Other Side of the Wind,2018,Drama,[Drama],Drama
3,tt0069204,Sabse Bada Sukh,2018,"Comedy,Drama","[Comedy, Drama]",Comedy
4,tt0100275,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]",Comedy

In [28]:
title_basics.duplicated(subset = ['tconst']).sum()

0

In [39]:
 droped_years = (title_basics.drop_duplicates(subset = ['start_year'], keep = 'last'))

In [40]:
droped_years

,tconst,primary_title,start_year,genres,genres_split,genre1
2949,tt10300398,Untitled Star Wars Film,2026,Fantasy,[Fantasy],Fantasy
52213,tt3095356,Avatar 4,2025,"Action,Adventure,Fantasy","[Action, Adventure, Fantasy]",Action
89506,tt5174640,100 Years,2115,Drama,[Drama],Drama
96592,tt5637536,Avatar 5,2027,"Action,Adventure,Fantasy","[Action, Adventure, Fantasy]",Action
105187,tt6149054,Fantastic Beasts and Where to Find Them 5,2024,"Adventure,Family,Fantasy","[Adventure, Family, Fantasy]",Adventure
106865,tt6258542,Wraith of the Umbra and Eidolon II,2023,"Adventure,Drama,Fantasy","[Adventure, Drama, Fantasy]",Adventure
144423,tt9663764,Aquaman 2,2022,"Action,Sci-Fi","[Action, Sci-Fi]",Action
145706,tt9857850,A Guide to Gunfighters of the Wild West,2021,"Comedy,Western","[Comedy, Western]",Comedy
145847,tt9878374,Regi lagni comprensorio di stato,2010,Documentary,[Documentary],Documentary
146017,tt9898682,Vengeance Douloureuse 1: la colère est née,2011,Horror,[Horror],Horror
146042,tt9901238,Le petit caillou,2016,Documentary,[Documentary],Documentary
146068,tt9905256,The Cross,2012,Thriller,[Thriller],Thriller
146090,tt9908390,Le lion,2020,Comedy,[Comedy],Comedy
146100,tt9910166,Diseño de Sonido para Cine en Argentina,2014,Documentary,[Documentary],Documentary
146133,tt9916132,The Mystery of a Buryat Lama,2018,"Biography,Documentary,History","[Biography, Documentary, History]",Biography
146136,tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary,[Documentary],Documentary
146139,tt9916538,Kuambil Lagi Hatiku,2019,Drama,[Drama],Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary,[Documentary],Documentary
146143,tt9916754,Chico Albuquerque - Revelações,2013,Documentary,[Documentary],Documentary